<mat-card *ngIf="product.title" style="width: 15rem">
    <img mat-card-image *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{ product.title }}" id="cardImg">
    <mat-card-content>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
        <p>{{ product.price | currency:"USD":true }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="showActions">
        <button *ngIf="getQuantity() === 0; else updateQuantity" 
        mat-button (click)="addToCart(product)" >Add to Cart</button>

        <ng-template #updateQuantity>
            <button mat-button>-</button>
            {{ getQuantity() }} in cart
            <button mat-button>+</button>
        </ng-template>
    
    </mat-card-actions>
</mat-card>