<!-- <mat-list [class.active]="!category" routerLink="/products">
    <mat-list-item [class.active]="!category" routerLink="/products">
        <button>
            All Categories
        </button>
    </mat-list-item>
</mat-list> -->

<mat-list id="filterContainer">

    <button mat-button [matMenuTriggerFor]="categoryList">Categories</button>
    <mat-menu #categoryList="matMenu">
    <a 
        mat-menu-item
        type="button"
        *ngFor="let c of categories$ | async" 
        [value]="c.key" 
        class="filterButton"
        routerLink="/products"
        [queryParams]="{ category: c.key }"
        [class.active]="category === c.key"
    
    >{{ c.payload.val().name }}</a>

    </mat-menu>

    <button [class.active]="!category" routerLink="/products" class="filterButton" id="resetButton">
       Reset Filters
    </button>
    
</mat-list>


<!-- <mat-list 
    *ngFor="let c of categories$ | async" 
    [value]="c.key" 
    id="listContainer"
    routerLink="/products"
    [queryParams]="{ category: c.key }"
    [class.active]="category === c.key"
>
    <mat-list-item >
        <button>
            {{ c.payload.val().name }}  
        </button>
    </mat-list-item>
    
</mat-list> -->


<mat-grid-list cols="2">
    <ng-container *ngFor="let p of filteredProd">
        <mat-grid-tile id="gridTile">
            <mat-card>
                <img mat-card-image [src]="p.imageUrl" alt="food image" id="cardImg">
                <mat-card-content>
                    <h2>{{ p.title }}</h2>
                    <h4>{{ p.description }}</h4>
                    <p>{{ p.price | currency:"USD":true }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>