#cardImg {
    width: 15rem;
    height: 10rem;
}

#gridTile {
    border: 1px solid black;
}

#filterContainer {
}

.filterButton {
    margin: auto 1rem;
    text-decoration: none;
}

#resetButton {
    border-radius: 20px;
}